@model eBarber.Models.Lokacija

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lokacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DelovniCasOd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DelovniCasOd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DelovniCasDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DelovniCasDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frizer.Ime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
